<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Email Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Email Generator</h1>
    <form action="#" th:action="@{/email}" th:object="${emailInfo}" method="post">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>Number</td>
                <td><input type="text" th:field="*{number}" /></td>
            </tr>
            <tr>
                <td>Domain</td>
                <td><input type="text" th:field="*{domain}" /></td>
            </tr>
        </table>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
